{% extends 'BaseEtudiant.html.twig' %}

{% block title %}Questionnaires{% endblock %}

{% block body %}
    <!-- TODO -->
    <h2>Liste des questionnaires disponibles :</h2>
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Nombre de questions</th>
            <th>Niveau</th>
            <th>Filière</th>
            <th>Matière</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for questionnaire in questionnaires %}
            <tr>
                <td>{{ questionnaire.Titre }}</td>
                <td class="">{{ questionnaire.Description }}</td>
                <td>{{ questionnaire.questions|length}}</td>
                <td>{{ questionnaire.matiere.niveau.nom|default('') }}</td>
                <td>{{ questionnaire.matiere.niveauFiliere.nom|default('') }}</td>
                <td>{{ questionnaire.matiere.nom|default('') }}</td>
                <td class="right aligned ">
                    <div style="display: inline-flex;">
                        {% if parent is not empty %}
                            <a href="{{ path('questionnaire_show_etudiant', {'id': questionnaire.id}) }}" class="btn btn-scool btn-circle">
                                <i class="fas fa-eye"></i>
                            </a>
                        {% else %}
                            {% if questionnaire.questionnaireEvaluation|length == 0 %}
                                <a href="{{ path('questionnaire_show_etudiant', {'id': questionnaire.id}) }}" class="btn btn-scool btn-circle">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            {% else %}
                                <a href="{{ path('questionnaire_show_etudiant', {'id': questionnaire.id}) }}" class="btn btn-scool btn-circle">
                                    <i class="fas fa-eye"></i>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun contenu trouvé pour cette matière</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
