{% extends 'BaseInscriptionConnexion.html.twig' %}

{% block title %}NiveauFiliere index{% endblock %}

{% block body %}
    <h1>NiveauFiliere index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for niveau_filiere in niveau_filieres %}
            <tr>
                <td>{{ niveau_filiere.id }}</td>
                <td>{{ niveau_filiere.nom }}</td>
                <td>
                    <a href="{{ path('niveau_filiere_show', {'id': niveau_filiere.id}) }}">show</a>
                    <a href="{{ path('niveau_filiere_edit', {'id': niveau_filiere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('niveau_filiere_new') }}">Create new</a>
{% endblock %}
